<div class="panel panel-default">
	<div class="panel-heading">
		<h3> Installation de <%= name %> </h3>	
	</div>
	<div class="panel-body">
		<%= category %>
		<%= Reason %>
		<div style="margin-top: 10px;">
			<a href="/gallery">Retourner à la galerie</a>
		</div>		
	</div>
</div>

