<!DOCTYPE html>
<html ng-controller="ItemController as itemCtrl" ng-init="init()"> 
<head>  
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../public/gallery/stylesheets/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  
<link rel="stylesheet" href="../public/gallery/stylesheets/bootstrap-multiselect.css" type="text/css" media="screen" />
<script type="application/javascript" src="../public/gallery/javascripts/jquery-2.1.1.min.js"></script>

<script type="application/javascript" src="../public/gallery/javascripts/bootstrap-multiselect.js"></script> 
</head>
<body nowrap>
  <div class="container">
    <div class="form-group">
      <label for="inputSubCategory">Applications</label>
      <select class="form-control"  name="inputSelectApplication" id="inputSelectApplication" multiple="multiple">
        <!-- <option value="admin">Administration</option>
        <option value="compta">Comptabilité</option>
        <option value="demat">Dématérialisation</option>
        <option value="ndf">Note de frais</option>
        <option value="prop">Processus opérationnelles</option>
        <option value="budget">Budget</option>
        <option value="immo">Immobilisation</option>
        <option value="rappro">Rapprochement bancaire</option>
        <option value="treso">Trésorerie</option>
        <option value="paiement">Moyens de paiements</option>
        <option value="garantfi">Garanties financières</option> -->
        <option value="chrome">Google Chrome</option>
        <option value="firefox">Firefox</option>
        <option value="ie">IE</option>
        <option value="safari">Safari</option>
        <option value="opera">Opera</option>
        <option value="other">Other</option>
      </select>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#inputSelectApplication").multiselect({
            includeSelectAllOption: true,
            selectAllValue: 'select-all-value'
        });
    });
  </script>
</body>
</html>