<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header %>
</head>
<body class="container">
	<main>
		<% include ../partials/response %>
	</main>

	<footer> 
		<% include ../partials/footer %>
	</footer>
</body>
</html>